Title: My Second Blog
Date: 2019-09-12
Slug: blog2

This is my second blog post

In [20]:
import pandas as pd
import chart
from IPython.core.display import HTML

In [17]:
df = pd.DataFrame([
    ['Ryan', 'https://duryan00.github.io/blog/'],
    ['Hock', 'https://teckhockng.github.io/blog/'],
    ['Kavitha', 'https://kavitha-shashidharan.github.io/blog/'],
    ['Anika', 'https://nawarani.github.io/blog/'],
    ['Benoit', 'https://bolive84.github.io/Blog/'],
], columns=['name', 'link'])

In [18]:
df

      name                                          link
0     Ryan              https://duryan00.github.io/blog/
1     Hock            https://teckhockng.github.io/blog/
2  Kavitha  https://kavitha-shashidharan.github.io/blog/
3    Anika              https://nawarani.github.io/blog/
4   Benoit              https://bolive84.github.io/Blog/