Title: My Second Blog
Date: 2019-09-12
Slug: blog2

This is my second blog post

In [6]:
import pandas as pd
import chart
from IPython.core.display import HTML

In [7]:
df = pd.DataFrame([
    ['Ryan', 'https://duryan00.github.io/blog/'],
    ['Hock', 'https://teckhockng.github.io/blog/'],
    ['Kavitha', 'https://kavitha-shashidharan.github.io/blog/'],
    ['Anika', 'https://nawarani.github.io/blog/'],
    ['Benoit', 'https://bolive84.github.io/Blog/'],
], columns=['name', 'link'])

In [8]:
df

      name                                          link
0     Ryan              https://duryan00.github.io/blog/
1     Hock            https://teckhockng.github.io/blog/
2  Kavitha  https://kavitha-shashidharan.github.io/blog/
3    Anika              https://nawarani.github.io/blog/
4   Benoit              https://bolive84.github.io/Blog/

In [9]:
import numpy as np
chart.histogram(np.random.normal(100, 20, size=100), mark='x')

    x
    x
    x
  x x
  x x
  x x
  x x x
  x x x
x x x x x
x x x x x

![](https://cdn1.vectorstock.com/i/1000x1000/54/50/smiling-cartoon-yeti-vector-4995450.jpg)

![](https://d.newsweek.com/en/full/1409646/whats-difference-between-yeti-bigfoot-sasquatch.png?w=1600&h=1200&q=88&f=fc57fa80f9c841873705fe0e4956e5cf)